<h1> Visit </h1>


<form action="/visit" method="POST">


	<input type="text" name="name_"/>
	<input type="text" name="cell_"/>
	<input type="text" name="date_"/>
	<input type="submit" class="btn btn-lg btn-primary"/>



</form>